{% extends "base_template.html" %}

{% block content %}
    <div class="container mt-5">
        <a href="/create_game/">
            <button type="button" class="btn btn-primary">Create new game</button>
        </a>
        <div class="list-group mt-5">
            {% for game in games %}

                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                      <div>
                        <h6 class="mb-0"> {{ game.title }} </h6>
                        <p class="mb-0 opacity-75"> {{ game.description }} </p>
                      </div>
{#                      <small class="opacity-50 text-nowrap">now</small>#}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}